---
/* eslint-disable solid/prefer-for */
import MainLayout from "../../layouts/global.astro"

const allPosts = await Astro.glob("./*.mdx")
---

<MainLayout title="Blog">
	<section>
		<p class="text-4xl font-extrabold">New Blog Posts</p>
		<div>
			{
				allPosts.map((post) => (
					<article>
						<div class="my-8 border-2 border-lime-500">
							<div class="ml-2 flex justify-center items-center">
								<a href={post.url} class="text-2xl">
									{post.frontmatter.title}
								</a>
							</div>
							<div class="flex justify-center items-center m-8">by {post.frontmatter.author}</div>
						</div>
					</article>
				))
			}
		</div>
	</section>
</MainLayout>
