---
export const prerender = false

const { name, server } = Astro.params
if (!name || !server) return Astro.redirect("/404")

// Required for SharedArrayBuffer
Astro.response.headers.set("Cross-Origin-Embedder-Policy", "require-corp")
Astro.response.headers.set("Cross-Origin-Opener-Policy", "same-origin")

import Issues from "@/components/issues.astro"
import Watch from "@/components/watch.tsx"
import Layout from "@/layouts/global.astro"
---

<Layout>
	<Issues />

	<p>
		Watching a <strong>PUBLIC</strong> broadcast on {server}.
	</p>
	<Watch name={name} server={server} client:load />
</Layout>
