---
import PostCard from "@/components/PostCard.astro"
import Global from "@/layouts/global.astro"

const allPosts = await Astro.glob("./posts/*.mdx")
---

<Global title="KIXELBLOG">
	<section class="container" aria-label="New Blog Posts">
		<h1 class="h1">New Blog Posts</h1>
		<div class="post-container">
		  {
			allPosts.map((post) => (
			  <PostCard
				frontmatter={post.frontmatter}
				url={post.url}
			  />
			))
		  }
		</div>
	  </section>
</Global>
