---
export const prerender = false

const { path } = Astro.params
if (!path) return Astro.redirect("/404")

const parts = path.split("/")

import Issues from "@/components/issues.astro"
import Watch from "@/components/watch.tsx"
import Layout from "@/layouts/global.astro"
---

<Layout title={`Watch - ${path}`}>
	<Issues />

	<p>
		Watching a <strong>PUBLIC</strong> broadcast. Pls report any abuse.
	</p>
	<Watch path={parts} client:only />
</Layout>
