<div class="my-4 flex flex-row items-center gap-4 rounded-md bg-slate-700 px-4 py-2">
	<img src="/img/warning.svg" alt="Warning" class="h-12 m-0" />
	<div>
		This is an proof-of-concept. Check out the numerous <a href="/issues">issues</a>.
	</div>
</div>
