---
const { frontmatter, url } = Astro.props
const { title, author, description } = frontmatter
---

<article class="card">
	<div class="relative my-8 border-2 border-lime-500">
		<div class="ml-2 flex justify-center items-center">
			<h3>
				<a href={url}>{title}</a>
			</h3>
		</div>
		<div class="flex justify-center items-center m-8">
			by {author}
		</div>
		<!-- TODO: <p>{description}</p> -->
	</div>
	<break></break>
</article>
